@model LibraryManagementSystem.Models.Customer
@{
    ViewData["Title"] = "Delete Customer";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

<h2>Delete Customer</h2>
<p>Are you sure you want to delete the Customer: <strong>@Model.Name</strong>?</p>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Model.Name
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Model.Email
        </dd>
        <dt class = "col-sm-2">
            Phone
        </dt>
        <dd class = "col-sm-10">
            @Model.Phone
        </dd>
        <dt class="col-sm-3">Membership Date</dt>
        <dd class="col-sm-9">@Model.MembershipDate.ToShortDateString()</dd>

        <dt class="col-sm-3">Plan</dt>
        <dd class="col-sm-9">@Model.Plan</dd>
    </dl>

    <form asp-action="Delete" method="post" onsubmit="return confirm('Are you sure you want to delete this customer?');">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
